<!-- most of the bootstrap class and others we can use here  -->



<div class="wrapper">
    <div class="wrapper-restaurant">
      <p class="restaurant-name">
      <span class="stars average">


<span class="update-delete">
<div class="comments">
 <span class="stars">

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>