@import "bootstrap-sprockets";
@import "bootstrap";
@import "animate";

* {
  font-family: 'Economica';
  box-sizing: border-box;
}

.navbar {
  background: #e0ded9;
  padding-top: 10px;
  height: 80px;
}

.collapselogo {
  margin-top: 4px;
  margin-left: 10px;
}

.logo {
  margin: 4px auto 0;
}

body {
  padding-top: 80px;
  font-size: 20px;
  background: #E3E2DC;
}

.carousel-inner {
  max-height: 400px;
}

.slider_image {
  max-height: 400px;
}

.businessheader {
  height: 400px;
  background-size: cover;
  background-position: center;
}

.menu-show-heading {
  font-size: 2em;
  font-weight: bold;
  color: #5F5F5F;
  height: 100px;
  text-align: center;
  background: #B5B2AE;
  padding-top: 20px;
}

.menu_image {
  width: 240px;
  height: 240px;
  margin: 10px auto;
  -webkit-box-shadow: 3px 3px 3px #777;
       -moz-box-shadow: 3px 3px 3px #777;
            box-shadow: 3px 3px 3px #777;
}

.polaroid {
  position: relative;
  width: 240px;
}
 
.polaroid img {
  border: 10px solid #fff;
  border-bottom: 45px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #777;
     -moz-box-shadow: 3px 3px 3px #777;
          box-shadow: 3px 3px 3px #777;
}
 
.polaroid p {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 8px;
  font: 400 18px/1 'Economica';
  color: #71706D;
}

.searchform {
  margin-top: 20px;
}