<div class="row">
    <div class="well">
        <div class="col-md-4 pull-left" >
<h2>Reviews about this business</h2>


<% @reviews.each do |review| %>

  <h3><%= review.title %></h3>

  <h4>Rating: <%= review.rating %></h4>

  <p>Review: <%= review.body %></p>
  </div>
  </div>
  </div>

<% end %>
