
<!DOCTYPE html>
<html>
<head>
<head>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
    <title>Grubit</title>
</head>
<body>

<div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Grubit</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">Who We Are</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Signup <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">With facebook</a></li>
                    <li><a href="#">with google</a></li>
                    <li><a href="#">With instagram</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">With yelp</li>
                    <li><a href="#">Whatever link</a></li>
                    <li><a href="#">One more link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
    </div>
    <!-- FOOTER -->


<%= yield %>

<div>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2015 Grubit <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div>
</body>
</html>

